@use 'abstracts' as a;
@import url('https://fonts.google.com/specimen/Overpass?preview.text_type=custom');
@import url('https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom');
@import url(a.$Family-Overpass);
@import url(a.$Family-Ubuntu);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  height: 100vh;
  width: 100vw;
  font-family: 'Overpass', sans-serif;
}
body {
  font-size: a.$Font-size;
  text-align: center;
}
