// ## Typography

// ### Body Copy

$Font-size: 16px;

// ### Fonts

$Family-Overpass: 'https://fonts.google.com/specimen/Overpass?preview.text_type=custom';
$Weight-Overpass-1: 300;
$Weights-Overpass-2:600;
;
$Family-Ubuntu: 'https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom';
$Weights-Ubuntu-1: 400;
$Weights-Ubuntu-2:500;
$Weights-Ubuntu-3:700;